<!-- Page Footer-->
<!-- <a class="section section-banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" target="_blank" style="background-image: url(images/background-01-1920x310.jpg); background-image: -webkit-image-set( url(images/background-01-1920x310.jpg) 1x, url(images/background-01-3840x620.jpg) 2x )"><img src="images/foreground-01-1600x310.png" srcset="images/foreground-01-1600x310.png 1x, images/foreground-01-3200x620.png 2x" alt="" width="1600" height="310">
      </a> -->
<div class="pre-footer-classic bg-gray-700 context-dark">
  <div class="container">
    <div class="row row-30 justify-content-lg-between">
      <div class="col-sm-6 col-lg-3 col-xl-3">
        <h5>Адрес</h5>
        <ul class="list list-sm">
          <li>
            <p>Ставропольский край</p>
          </li>
          <li>
            <p>Кисловодск,</p>
          </li>
          <li>
            <p>{{ $.Site.Params.address }}</p>
          </li>
          <li>
            <p>Здание за торговым центром</p>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <h5 id="contacts">Контакты</h5>
        <dl class="list-terms-custom">
          <dt>☏</dt>
          <dd>
            <a class="link-default" href="tel:89283646324">+7(928)364-63-24</a>
          </dd>
        </dl>
        <dl class="list-terms-custom">
          <dt>✉</dt>
          <dd>
            <a class="link-default" href="mailto:akopakopov8723@gmail.com"
              >akopakopov8723@gmail.com</a
            >
          </dd>
        </dl>
        <ul class="list-inline list-inline-sm">
         <!-- <li>
            <a
              class="icon icon-sm icon-gray-filled icon-circle mdi mdi-facebook"
              href="#"
            ></a>
          </li>
          <li> -->
            <a
              class="icon icon-sm icon-gray-filled icon-circle mdi mdi-vk"
              href="https://vk.com/club18298180"
            ></a>
          </li>
          <!-- <li>
            <a
              class="icon icon-sm icon-gray-filled icon-circle mdi mdi-behance"
              href="#"
            ></a>
          </li>
          <li>
            <a
              class="icon icon-sm icon-gray-filled icon-circle mdi mdi-twitter"
              href="#"
            ></a>
          </li> -->
        </ul>
      </div>
      <div class="col-lg-4">
        <h5>Рассылка</h5>
        <form
          class="rd-form rd-mailform"
          data-form-output="form-output-global"
          data-form-type="contact"
          method="post"
          action="https://vk.com/questkislovodsk"
        >
          <div class="form-wrap form-wrap-icon">
            <div class="form-icon mdi mdi-email-outline"></div>
            <input
              class="form-input"
              id="footer-email"
              type="email"
              name="email"
              data-constraints="@Email @Required"
            />
            <label class="form-label" for="footer-email">E-mail</label>
          </div>
          <div class="button-wrap">
            <button
              class="button button-default button-invariable"
              type="submit"
            >
              Подписаться
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer class="section footer-classic context-dark text-center">
  <div class="container">
    <div class="row row-15 justify-content-lg-between">
      <div class="col-lg-12 col-xl-12 text-lg-left">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5e06503809b220b87ef2032efb693159a8d2beb0824837d383b55116f6019496&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
      <div class="col-lg-6 col-xl-6 text-lg-left">
        <p class="rights">
          <span>&copy;&nbsp;</span><span class="copyright-year"></span>. Все права защищены. Дизайн сделан
          <a href="https://www.templatemonster.com">TemplateMonster</a>
        </p>
      </div>
      <div class="col-lg-6 col-xl-6">
        <ul class="list-inline list-inline-lg text-uppercase">
          <li><a href="about-us.html">О нас </a></li>
          <li><a href="#">Команда</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
