<head>
  <title>Семейный квест в Кисловодске</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="Как провести вечер интересно и увлекательно в Кисловоске"
  />
  <meta
    property="og:description"
    content="Пройдите квест в месте с семьей - получите не забываемые ощущения"
  />
  <meta property="og:url" content="{{.Site.BaseURL}}" />
  <meta property="og:type" content="website" />
  <meta
    property="og:title"
    content="Я в  восторге от этого приключения! Попробуйте и вы."
  />
  <meta property="og:image" content="/images/metapreview.png" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <meta property="fb:app_id" content="fbAppId" />
  <link rel="icon" href="images/favicon.svg" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link
    rel="stylesheet"
    type="text/css"
    href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900"
  />
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/fonts.css" />
  <link rel="stylesheet" href="css/style.css" />
  <style>
    .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }
    html.ie-10 .ie-panel,
    html.lt-ie-10 .ie-panel {
      display: block;
    }
  </style>
</head>
