<header class="section page-header">
  <!-- PROMO BLOCK -->
  <a
    class="section section-banner d-none d-xl-block"
    href="https://www.templatemonster.com/intense-multipurpose-html-template.html"
    target="_blank"
    style="
      background-image: url(images/background-02-1920x60.jpg);
      background-image: -webkit-image-set(
        url(images/background-02-1920x60.jpg) 1x,
        url(images/background-02-3840x120.jpg) 2x
      );
    "
    ><img
      src="images/foreground-02-1600x60.png"
      srcset="
        images/foreground-02-1600x60.png  1x,
        images/foreground-02-3200x120.png 2x
      "
      alt=""
      width="1600"
      height="310"
    />
  </a>
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav
      class="rd-navbar rd-navbar-wide"
      data-layout="rd-navbar-fixed"
      data-sm-layout="rd-navbar-fixed"
      data-md-layout="rd-navbar-fixed"
      data-md-device-layout="rd-navbar-fixed"
      data-lg-layout="rd-navbar-static"
      data-lg-device-layout="rd-navbar-static"
      data-xl-layout="rd-navbar-static"
      data-xl-device-layout="rd-navbar-static"
      data-lg-stick-up-offset="46px"
      data-xl-stick-up-offset="46px"
      data-xxl-stick-up-offset="46px"
      data-lg-stick-up="true"
      data-xl-stick-up="true"
      data-xxl-stick-up="true"
    >
      <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button
              class="rd-navbar-toggle"
              data-rd-navbar-toggle=".rd-navbar-nav-wrap"
            >
              <span></span>
            </button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand">
              <a class="brand" href="index.html">
                <img
                  class="brand-logo-dark"
                  src="images/logo-default-261x72.png"
                  alt=""
                  width="261"
                  height="72"
                  srcset="images/logo-default-261x72.png 2x" /><img
                  class="brand-logo-light"
                  src="images/logo-inverse-133x45.png"
                  alt=""
                  width="133"
                  height="45"
                  srcset="images/logo-inverse-266x90.png 2x"
              /></a>
            </div>
          </div>
          <div class="rd-navbar-nav-wrap">
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
              <li class="rd-nav-item active">
                <a class="rd-nav-link" href="index.html"
                  >{{ $.Site.Params.name }}</a
                >
              </li>
              <li class="rd-nav-item">
                <a class="rd-nav-link" href="#team">О нас</a>
              </li>

              <li class="rd-nav-item">
                <a class="rd-nav-link" href="#contacts">Контакты</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
