{{ $image := resources.Get "/images/jumbotron-1-1919x953.jpg" }}
{{ $image := $image.Resize "x1024" }}
{{ $image := $image.Filter (images.GaussianBlur 1)}}

<section class="section context-dark bg-image bg-mask bg-mask-2 section-fullheight section-90vh"
  style="background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.9)), url({{ $image.RelPermalink }} );">
  <div class="section-fullheight-inner section-md">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xl-12 text-center text-md-left">
          <div class="jumbotron-custom wow fadeInRight big">
            <div class="text-2">📍Кисловодск квест</div>
            <div class="text-1">Загадчная комната</div>
            <div class="title">Пираты <sup>XX</sup> века</div>
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>