<script src="/js/core.min.js"></script>
<script src="/js/script.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (m, e, t, r, i, k, a) {
    m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
    m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
  })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(64968826, "init", {
    clickmap: true,
    trackLinks: true,
    accurateTrackBounce: true
  });
</script>
<noscript>
  <div><img loading="lazy" src="https://mc.yandex.ru/watch/64968826" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<script>
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }
  let qr = getCookie('qr');

</script>